<div class="container">
	<h2><label class="col-lg-3">First Name:</label> <%= @user.first_name %></h2>
	<h2><label class="col-lg-3">Last Name:</label> <%= @user.last_name %></h2>
	<h2><label class="col-lg-3">Email Address:</label> <%= @user.email_address %></h2>
	<a href="/users/<%= @user.id %>/edit" class="btn btn-warning">Edit</a> <a href="/" class="btn btn-default">Back</a>
</div>